.container {
  width: 100%;
  padding: 10px 14px;
  margin: 10px 0;
  overflow-x: scroll;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container h3 {
  margin: 20px;
  font-size: 20px;
}

.table {
  font-size: 13.5px;
  width: 90vw;
  padding: 10px 12px;
}

.table th {
  text-align: left;
  background-color: #eeeeee;
  padding: 8px 10px;
}

.table td {
  padding: 5px 0;
}

.imageTD {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.imageTD img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 740px) {
  .heading {
    width: 120px;
  }
}
