.container {
  width: 100%;
  padding: 30px;
  padding-top: 0;
  color: #58595b;
}

.container h2 i {
  margin-right: 10px;
}

.boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border: 1px solid black;
  border-radius: 8px;
  width: 150px;
  height: 100px;
}

.box i {
  font-size: 20px;
}
