.slick-slide > div {
  display: grid;
  place-items: center;
  margin: auto;
  /* padding: 0px 30px; */
}

a {
  text-decoration: none !important;
}

/* Product Detail Page */

.productDetailPageContainer {
  display: flex;
  gap: 4;
  padding: 20px;
}

@media screen and (max-width: 1040px) {
  .productDetailPageContainer {
    flex-direction: column;
    gap: 10px;
  }
}
