.slick-slide > div {
  display: grid;
  place-items: center;
  margin: auto;
  /* padding: 0px 30px; */
}

a {
  text-decoration: none !important;
}

/* Product Detail Page */

.productDetailPageContainer {
  display: flex;
  gap: 4;
  padding: 20px;
}

@media screen and (max-width: 1040px) {
  .productDetailPageContainer {
    flex-direction: column;
    gap: 10px;
  }
}

/* Oder Page */

.orderPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 640px) {
  .orderPage {
    flex-direction: column;
    gap: 10px;
  }
}

/* Admin Page */

.adminOrderMessage {
  font-size: 15px;
  text-align: center;
  padding: 5px 10px;
}
